/**
 *Created For:reset style
 *Author:wangdong
 *Date:2019/1/24
*/
@import "base";
@import "./common/resetElementUI.scss";
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, form, input, button, textarea, select {
  margin: 0;
  padding: 0;
  outline: none;
  _text-align: center;
}
html,body{
  width:100%;
  height:100%;
}
body{
  font: 1.5em "Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
  font-size: $font-M;
  min-width: 1360px;
  color: $color-black;
}

select, input, button, textarea {
  vertical-align: middle;
  font-size: $font-M;
  outline: none;
}
ul, ol, li {
  list-style: none
}

i, em {
  font-style: normal
}

a {
  text-decoration: none;
}

img {
  display: inline-block
}
input {
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
.clearfix {
  *zoom: 1;
  &:after{
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0
  }
}
#app{
  width:100%;
  height:100%;
  overflow-y: auto;
  overflow-x: hidden;
  .wrapper{
    min-height:100%;
    overflow: hidden;
  }
}
.error{
    color: $color-orange;
}
.mt3{
  margin-top: 3px !important;
}
.tc{
  text-align: center;
}
/*面包屑*/
.el-breadcrumb{
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 15px;
}

/*顶部搜索样式*/
.search-top{
  position: relative;
  min-height: 52px;
  margin: 10px 10px;
  padding-right: 20%;
  .clearfix{
    margin-right: 10px;
  }
  .search-item{
    width: 100%;
    .el-form-item__content{
      width: 100%;
    }
    .el-input{
      width: 100%;
    }
  }
  .search-top-button{
    position: absolute;
    right: 0;
    top: 3px;
  }
}
.search-con{
  margin: 10px;
  .cursor{
    color: $color-blue;
    cursor: pointer;
  }
  .pagination-wrapper{
    text-align: center;
    margin-top: 10px;
  }
}
.el-table-thead{ background-color: $background-gray !important;}