/**
 *Created For:
 *Author:wangdong
 *Date:2019/1/24
*/
//菜单重置
.el-menu {
  border-right: 0;
  background-color:#242f42 !important;
}
.el-submenu:hover{
  background-color: #192129 !important;
  color: #00c1de !important;
}
.el-submenu__title:hover{
  background-color: #192129 !important;
  color: #00c1de !important;
}
.el-menu-item:hover{
  background-color: #192129 !important;
  color: #00c1de !important;
}
.el-button--primary{
  background-color: #409EFF !important;
  border-color: #409EFF !important;
}
.el-button--primary:hover{
  background-color: #66b1ff !important;
  border-color: #66b1ff !important;
}
.el-main{
  padding: 0 !important;
}