/**
 *Created For:
 *Author:wangdong
 *Date:2019/1/24
*/
//菜单重置
.el-submenu:hover{
  background-color: #192129 !important;
  color: #00c1de !important;
}
.el-submenu__title:hover{
  background-color: #192129 !important;
  color: #00c1de !important;
}
.el-menu-item:hover{
  background-color: #192129 !important;
  color: #00c1de !important;
}